@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Home</h1>

    <div class="menu-options">
            <a class="menu-option" asp-controller="Ingrediant" asp-action="Index">Ingrediants</a>
            <a class="menu-option" asp-controller="Recipe" asp-action="Index">Recipes</a>
            <a class="menu-option" asp-controller="Kitchenware" asp-action="Index">Kitchenware</a>
            <a class="menu-option" asp-controller="Skill" asp-action="Index">Skills</a>
    </div>
</div>
